*

{
margin: 0px;
padding: 0px;   
}

a{
    margin-left: 9px;   
    margin-right: 9px;
    margin-top: 10px;
}
/* For Different Page Color */
.pageblue{
  background-color: blue;
}
.pagegold{
  background-color: gold;
}
.pageturquoise{
  background-color: turquoise;
}

body{
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Lucida Sans Unicode;;
    height: 100vh;
    margin-top: 0px;   
}

/* Header Settings */

header {

	border-radius: 0 0 85% 85% / 30%;
	height: auto;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
  
}


header .navhead{
	color: #FFF;
	height: 100%;
	padding: 50px;
	width: 100%;
  animation: colorchange 20s infinite; 
  }

.links {
    animation: colorchange 10s infinite; 
    background-position: center;
    border-radius: 7.5px;
    display: table;
    font-size: 25px;
    margin-left: 120px;
    margin-top: 0px;
    padding-bottom: 4px;
    padding-top: 0px;
}

/* Color Changing Header/nav bar */
/* Color Changing from https://stackoverflow.com/questions/43371912/how-to-make-an-html-css-js-color-changing-background-like-kahoot-it-has/43372324 */
@keyframes colorchange
{
  0%   {background: gold}
  33%  {background: turquoise;}
  67%  {background: blue;}
  100% {background: gold;}
}


  
.body
{
    font-family: monospace;
}


 /* Position for text on images*/
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 /* For table*/
.container {
  position: relative;
  text-align: center;
  color: white;
}
table {
  font-family: arial, sans-serif;
  border-collapse:separate;
  width: 100%;
}

th {
 
  text-align: center;
  padding: 20px;
  
}

h1
{
    
    color:black;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    border-radius: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 420px;
    width: 650px;
    display: table;

}

  h3
  {
      
      color:black;
      text-align: center;
      margin-top: 1px;
      border-radius: 15px;
      padding-top: 1px;
      padding-bottom: 1px;
      margin-left: 420px;
      width: 650px;
      display: table;
  
  }

.center {
    margin: auto;
    padding: 10px;
    width: 400px;
    
  }

  /* For Portrait Image Home Page*/
.portrait
{
  width: 300px;
  margin: auto;
  padding: 10px;
} 

/* For Pictures On Home Page*/
.pichome {
height: 250px;
  width: 300px;
}

/* For Image Text*/
mark {
    background-color: transparent;
    color: white;
    background-color: black;

  }

  nav
{
   position: fixed;
   top: 0;

}
/* For link colors (NAV) */

a:link{
  color: black;
  
}

a:visited{
  color: black;
  
}

a:hover{
  color: black;
  
}

/* For Phones */
@media only screen and (max-width: 750px) {
  header .navhead{
 
    padding: 2px;

    }
  .links{
        font-size: 14px;
        margin-left: 0px;
        padding-top: 0px;
        padding-bottom: 0.5px;
        text-align: left;
        border-radius: 0px;

    }   
    
    h1 {
       font-size: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        max-width: 300px;
        margin-left: 2px;
        width: 575px;
    }
    h3{
      font-size: 18px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      max-width: 300px;
      margin-left: 2px;
      width: 575px;
  }


    .container {
        font-size: 10px;
        text-align: left;
        width: 200px;
        color: white;
        
    }   
    .center {
        margin: auto;
        padding: 10px;
        width: 200px;
        
      }
      .centered {
        position: absolute;
        top: 80%;
        left: 40%;
        transform: translate(-50%, -50%);
      }
      mark {
        background-color: black;
        color: white;
    
      }
      
}

/* For Ipad/Tablets */
@media only screen and (max-width: 800px) and (min-width:750px) {
  header .navhead{
 
    padding: 2px;

    }
  h1 {
     
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      max-width: 700px;
      margin-left: 2px;
    
  }
  h3{
     font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    max-width: 700px;
    margin-left: 2px;
    
}
.links{
  font-size: 20px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0.5px;
  
  border-radius: 0px;

}  
    
}